{
    extends: [
      airbnb-base,
      plugin:react/recommended
    ],
    env: {
      browser: true
    },
    rules: {
      no-console: off,
      import/no-extraneous-dependencies: [error, {devDependencies: true}],
      no-param-reassign: [error, {props: false}],
      react/jsx-filename-extension: [1, { extensions: [.js, .jsx] }],
      class-methods-use-this: [error, { exceptMethods: [render] }]
    }
}
